.register-page{
    background-color: white;

    .left-container{
        background-color: var(--blue-bg);
        width: 30%;

        .welcome{
            color: white;
        }
    }

    .right-container{
        width: 70%;
    }
}