.login-page{
    background-color: var(--blue-bg);
    height: 93vh;

    .login-container{
        background-color: white;

        .logo{
            width: 12rem;
        }
    }

    .login__error {
        background-color: #f8d7da;
        color: #721c24;
        font-size: 0.9rem;
    }
}