.table {
    width: 100%; /* Hacer que la tabla ocupe el 100% del ancho de la pantalla */
  max-width: 100%; /* Establecer un ancho máximo para la tabla */
  overflow-x: auto; /* Agregar una barra de desplazamiento horizontal si la tabla es más ancha que la pantalla */
  overflow-y: auto;
  white-space: nowrap; /* Evitar el ajuste de texto automático en las celdas */
  border-collapse: collapse; /* Colapsar los bordes de las celdas para un aspecto más limpio */
}

.table thead {
    background-color: #EAEAEA;
    color: #424242;
    font-size: 1rem;
    text-transform: uppercase;
}

.table th,
.table td {
    padding: 0.8rem;
}

.table tbody tr:hover{
    background-color: #eee;
}

.actions svg{
    cursor: pointer;
}

.delete-btn{
    color: #e10d05;
}

.edit-btn{
    color: #0b1165;
}