.header {
    color: white;
    height: 7vh;
    top: 0;
    width: 100%;
    background-color: #3DB8DF;

    &__img{
      height: 7vh;
    }

    &__menu{
      list-style: none;
      
      a{
        text-decoration: none;
        color: white;

        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
  
.profile {
  &:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
  }

  &__icon{
    font-size: 3rem;

    
  }
}
