.icon{
    cursor:pointer;

    font-size: 1.5rem;

    &--edit{
        color: var(--blue-secondary);
    }

    &--delete{
        color: var(--red);
    }

}
.table-container{
    background-color: white;
}