.form {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 25rem;

    &__close{
        top: 10px;
        right: 15px;
        color: #ccc;
        cursor: pointer;

        .icon{
            font-size: 2rem;
        }
    }
}

// .form .btn {
//     display: block;
//     margin: auto;
// }